{% extends 'base.html.twig' %}
 {% block style %}
     <style>
         body {
             display: flex;
             justify-content: center;
             align-items: center;
             /*height: 100vh;*/
             margin: 0;
         }

         .container {
             width: 100%;
             max-width: 1200px;
         }

         .titre-films {
             font-size: 24px;
             font-weight: bold;
             text-align: center;
             margin: 10px 0;
         }

         .col-md-4 {
             width: max-content;
             margin: 0 auto;
         }

         .card {
             width: 300px;
         }

         .card-img-top {
             height: 180px;
             object-fit: cover; /* Pour que l'image soit recadrée correctement */
         }

         .card-body {
             text-align: center;
         }
     </style>
 {% endblock %}
{% block body %}
    <div class="container">
    {{ parent() }} <br><br>
    <div class="row">
        <h6 class="display-4" style="float: left"><b style="color: red">{{ infos.primaryName }}</b> a participé au(x) film(s) suivant(s)</h6>
        <hr>
        <br>
        {% for title in listTitle %}
            {% set image = title.primaryImage %}
            {% set url = 'https://placehold.co/400' %}
            {% set width = '' %}
            {% set height = '' %}

        {% for key, value in image %}
            {% if key == 'url' %}
                {% set url = value %}
            {% endif %}

            {% if key == 'width' %}
                {% set width = value %}
            {% endif %}

            {% if key == 'height' %}
                {% set height = value %}
            {% endif %}
        {% endfor %}
    <div class="col-md-4" style="width: max-content">
        <div class="card mb-4">
            <img src="{{ url }}" alt="Image" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ title.titleText.text }}</h5>
            </div>
            <div class="card-body">
                Genre <h5 class="card-title">{{ title.titleType.text }}</h5>
            </div>
        </div>
    </div>

    {#{% if loop.index % 2 == 0 %}#}
    {#    </div><div class="row">#}
    {#    {% endif %}#}
        {% endfor %}
    </div>
    </div>
{% endblock %}

